.container{
    display: flex;
    flex-direction: row;
}

.home-form{
    padding-top: 1rem;
    display: flex;
    flex-wrap: wrap; 

}

.form-field{
    flex-basis: 250px;
    margin: 10px 10px 0px 10px;
}